# Telegram Bot Token
# Get from @BotFather on Telegram
BOT_TOKEN=8994673435:AAEs-LB2mkjzga9cc9k1PpVEsqQB593J4NE

# Your Telegram User ID
# Get from @userinfobot on Telegram
DEVELOPER_ID=5440933620
GEMINI_API_KEY=your_gemini_api_key_here
